.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  /* the x to close alert */
  .closebtn {
    margin-left: 15px;
    color: var(--black);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .info {
    background-color: #cff4fc;
    border-color: #b6effb;
  }

  /* hover over alert */
  .closebtn:hover {
    color: var(--purple);
  }

  .hide {
    display: none;
  }
  