
  .ButtonMargin {
    margin-right: 15px;
  }
  
  .LandingPageImage {
    width: 400px;
    margin: 0 auto;
    height: 100%;
  }

  
  /* Remove right margin on the buttons on screens which are smaller */
  @media all and (max-width: 500px) {
    .ButtonMargin {
      margin-right: 0;
    }
  }
  
  /* Reduce size of landing page on smaller screens */
  @media all and (max-width: 440px) {
    .LandingPageImage {
      width: 80%;
      height: 80%;
    }

    h1{
      font-size: 20px;
    }
  }
  