.Post {
    background-color: var(--white);
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #c02307;
  }
  
  .Heart:hover {
    color: #e4706c;
  }
  
  .HeartOutline:hover {
    color:  #c02307;
  }

  .Bookmark {
    color: var(--black);
    margin-left: 250px;
    position: absolute;
  }
  
  .Bookmark:hover {
    color: var(--dark-grey);
  }
  
  .BookmarkOutline:hover {
    color:  rgb(0, 0, 0);
  }

  /* badge styling for skill level */
  .PostBadge{
    background-color:var(--darker-blue);
    color: rgb(15, 15, 15);
    padding: 5px 8px;
    margin: 0 4px;
    border-radius: 30px;
   font-size: inherit;
  }

  @media (max-width:445px){
    .Bookmark {
      color: var(--black);
      margin-left: 95px;
      position: absolute;
    }
  }