:root{
    --white: #ffffff;
    --black: rgb(0, 0, 0);
    --light-blue:#caf0f8;
    --darker-blue:rgb(102, 212, 240);
    --light-grey:rgb(214, 214, 214);
    --purple:rgb(243, 199, 243);
  
  }
  
.App{
    font-family: "Inter",sans-serif;


}

